@import url(compo2.css);
@import url(compo3.css);
@import url(compo4.css);
@import url(variables.css);
@import url(style.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgFMpxG1tQ7GRRppknp9FVG9E1I2FcER57Kg&s);
}
.com2{
    border-radius: 10px;
    box-shadow: 5px 10px #000;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--blanco);
    text-align: center;
    display: inline-block;
    color: var(--rojo);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWri7LuVeY41rC5rkr1HGD1EbPzq4AOrmVKw&s);
    width: 10%;
    margin-right: 20px;
    
}
.caja1{
    margin: 0 auto ;
    padding: 20px;
    text-align: center;
    background-color: var(--morado);
    border-radius: 10px ;
    width: 300px;
    box-shadow: 5px 5px  #000;
    display:inline-block;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 20px;
}
.t1{
    text-decoration: none;
    font-size: 50px;
    background-color: var(--blanco);
    border-radius: 50%;
    margin: 0 auto ;
    box-shadow: 3px 3px var(--rosado);

}
.t2{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: var(--marron);
    height: 40px;
    width: 20x;
    border-radius: 15px 15px 15px 15px ;

}
.lista{
    color:var(--negro); 
    font-size: medium;
    font-family: Georgia,serif;


}
.lista__item{
    color: var(--negro);
}
.lista__texto{
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}
.lista__icono{
    background-color: var(--blanco);
    font-size: 25px;
    border-radius: 4px;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: block;
    margin: 0 auto ;
   margin-top: 10px;
   margin-bottom: 5px;
}
.lista__t2{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 20px;
}


.boton{
    margin: 0 auto ;
    font-family: 'Courier New', Courier, monospace;
   

}
.boton--negro{
    color: var(--negro);
    background-color: var(--negro);
}
.boton--negro:hover{
    color: var(--rosado);
    background-color: var(--rojo);

}
.boton--rosado{
    color: var(--morado);
    background-color: var(--rosado);
}
.boton--rosado:active{
    color: var(--negro);
    background-color: var(--morado);
}
.boton--verde{
    color: var(--verde);
    background-color: var(--verdeclarito);

}
.boton--verde:hover{
    color: var(--negro);
    background-color: var(--naranja);
}
.boton--rojoclarito{
    color: var(--negro);
    background-color: var(--rojoclarito);

}
.boton--rojoclarito:active{
    color: var(--negro);
    background-color: var(--rojo);
}