:root{
    --verde:#76fc55;
    --rojo:#fd3030;
    --naranja:#eaad61;
    --marron:#d1887f;
    --negro:#000;
    --blanco:#fff;
    --morado:#bb0df0;
    --rosado:#fc66f4;
    --celeste:#94e7ff;
    --verdeclarito:#8cbe7a;
    --rojoclarito:#d6321e;
    --gris:#91918F;
    --beige:#f5e1ce;
    --piel:#B77D55;
}